/*
Name: RippleAi
Author: Ripple
Author URI: https://hiripple.com/
Version: 1.0.0
License: GNU General Public License v3.0
License URI: https://www.gnu.org/licenses/gpl-3.0.html
*/

:root 
{
    --root-font-size: 18px;

    --yellow: #f8ef02;
    --cyan: #00ffd2;
    --red: #ff003c;
    --blue: #136377;
    --green: #446d44;
    --purple: purple;
    --black: #000;
    --white: #fff;
    --dark: #333;

    --fg: var(--black);
    --bg: transparent;
    --ac: var(--black);

    --yellow-cyberpunk-font: #feef00;
    --cyan-cyberpunk-font1:#46dffb;
    --cyan-cyberpunk-font2:#45aefb;

    --banner-color1: var(--purple); 
    --banner-color2: var(--red);
    --banner-color3: var(--yellow); 
    --banner-color4: var(--cyan); 
    --banner-gradient-stop: 405px;

    --input-padding-top: 0px;
    --input-padding-bot: 0.2rem;
    --input-padding-left: 1rem;
    --input-padding-right: 2rem;
    --input-font-size: 1.2rem;
    --input-width: 240px;

    --checkbox-size: 28px;
    --checkbox-inner-size: 16px;

    --radio-size: 28px;
    --radio-inner-size: 16px;
}
.cyber-banner,
.cyber-banner-short
{
  width: 120%;
height: 25px;
background-repeat: no-repeat;
font-size: 1rem;
font-weight: 700;
text-align: center;
line-height: 25px;
overflow: hidden;
clip-path: polygon(0 0, 0 100%, calc(100% - 20px) 100%, 100% calc(100% - 20px), 100% 0);
background: linear-gradient(90deg, var(--banner-color1), var(--banner-color2), var(--banner-color3), var(--banner-color4) var(--banner-gradient-stop));
font-style: italic;
    align-items: center;
    justify-content: center;
}

.cyber-banner-short
{
    --banner-gradient-stop: 220px;
}

.cyber-banner.bg-yellow,
.cyber-banner-short.bg-yellow
{
    --banner-color1: var(--cyan);
    --banner-color2: var(--purple);
    --banner-color3: var(--red);
    --banner-color4: var(--yellow);
}

.cyber-banner.bg-purple,
.cyber-banner-short.bg-purple
{
    --banner-color1: var(--red);
    --banner-color2: var(--yellow);
    --banner-color3: var(--cyan);
    --banner-color4: var(--purple);
    color: var(--white) !important;
}

.cyber-banner.bg-red,
.cyber-banner-short.bg-red
{
    --banner-color1: var(--yellow);
    --banner-color2: var(--cyan);
    --banner-color3: var(--purple);
    --banner-color4: var(--red);
}


.cyber-banner::before,
.cyber-banner-short::before
{
    content: " ";
    height: inherit;
    display: block;
    float: left;
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;
}

/*
Note: Inline svg shit doesnt work sometimes. Make sure to optimize it with https://jakearchibald.github.io/svgomg/ (import and download)
*/
.cyber-banner::before
{
    width: 405px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="405" height="50"><path d="M0 0v50h20L45 0zM47 0 22 50h28L75 0zM79 0 54 50h26l25-50zM111 0 86 50h24l25-50zM143 0l-25 50h22l25-50zM175 0l-25 50h20l25-50zM207 0l-25 50h18l25-50zM239 0l-25 50h16l25-50zM271 0l-25 50h14l25-50zM303 0l-25 50h12l25-50zM335 0l-25 50h10l25-50zM367 0l-25 50h8l25-50zM399 0l-25 50h6l25-50z"/></svg>');
}

.cyber-banner-short::before
{
    width: 220px;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="220" height="50"><path d="m0 0-10 50h20L35 0zM37 0 12 50h18L55 0zM59 0 34 50h16L75 0zM81 0 56 50h14L95 0zM103 0 78 50h12l25-50zM125 0l-25 50h10l25-50zM147 0l-25 50h8l25-50zM169 0l-25 50h6l25-50zM191 0l-25 50h4l25-50zM213 0l-25 50h2l25-50z"/></svg>')
}
/*#endregion*/
.cyber-container
{
    display: flex;
justify-content: flex-end;
align-items: flex-end;
margin-top: -60px;
  cursor: pointer;
  opacity: 0;
}



html {
  height: 100%;
  width: 100%;
}
.ripple-ai {
border: 1px solid #000;
border-radius: 1rem;
padding: 1rem;
position: relative;
}

.ripple-ai-header {
align-items: center;
display: flex;
}

.Aisummary {
  margin-right: 10px;
background-image: linear-gradient(30deg, #000000, #00a389);
color: transparent;
background-clip: text;
-webkit-background-clip: text;
font-weight: 990;
}

.ai-icon {
border: none;
border-radius: 50%;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.1);
height: 35px;
margin-right: 5px;
vertical-align: middle;
width: 35px;
}

.ripple-ai-title {
font-weight: 700;
margin: 0;
}

.ripple-ai-btn {
align-items: center;
background-color: #000;
border: 1px solid;
color: #fff;
cursor: pointer;
display: inline-flex;
font-weight: 500;
height: 2rem;
justify-content: center;
margin-left: 10px;
min-width: 100px;
padding: 0 1.25rem;
border-radius: 10px;
}


.powered-by {
bottom: -5px;
font-size: 10px;
font-weight: bold;
position: absolute;
right: 5px;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
.rotating {
  animation: rotating 1s linear infinite;
}

@keyframes blinking {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.blinking {
  animation: blinking 1s infinite;
}

.rotating {
  animation: rotating 2s linear infinite;
}


.play-pause-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  padding: 0;
  width: 24px;
  height: 24px;
}

.play-pause-btn svg {
  display: block;
}
.RippleAi-audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 0;
}

.play-pause-btn {
  margin-bottom: 5px;
}

.progress-bar {
  -webkit-appearance: none;
  appearance: none;
  width: 90%; /* 改为90%，以便适应容器宽度 */
  height: 5px;
  background: transparent;
  outline: none;
  margin: 0 5%; /* 添加左右边距以使进度条居中 */
}

.progress-bar::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #000;
  cursor: pointer;
  border-radius: 50%;
}

.progress-bar::-moz-range-thumb {
  width: 16px;
  height: 16px;
  background: #000;
  cursor: pointer;
  border-radius: 50%;
}
.fade-in-animation {
  animation: fadeIn 1s ease-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
